*{
  box-sizing: border-box;
  transition: all .5s ;
}

html, body{
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
}

.flex-item{
  display: flex;
  align-items: center;
}

.flex-wrap{
  display: flex;
  flex: flex-wrap;
}


img {
  max-width: 100%;
  vertical-align: middle;
}

li {
  list-style: none;
}

a{text-decoration: none;}

button {
  background: none;
  font: inherit;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1em;
}


/*
==== HEADER && NAVBAR ===== 
*/

.header {
  background-color: none !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.30);
}

.banner{
  background: url(../images/icon/life.jpg);
  height: 70vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 0 3rem;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 35px;
  font-weight: bold;

}

.header a:hover {
  color:rgb(195, 8, 161);
}
  
.header a.active {
  color:rgb(195, 8, 161);
}

ul.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  background-color: inherit;
  box-shadow: none;
}
  
ul.navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.header-wrapper .ls{
  display: flex;
  justify-content: center;
}


/*content*/
.post {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
  
  
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
  
  /* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.content-head{
  background-color:darkcyan;
  color: #3f403e;
  text-align: center;
  transition: all .5s;}
  

.breadcrumbs{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.breadcrumbs li a::before{
  content: '/';
}

.breadcrumbs li a{
  font-size: 1.8em;
  text-transform: capitalize;
}

/*
*===== MAIN ====== 
*/

main {
  max-width: 1220px;
  margin: auto;
}

.head h2 {
  color: rgb(195, 8, 161);
  font-size: 2rem;
  text-transform: capitalize;
}

.books-wrapper {
  display: flex;
  gap: 2em;
  justify-content: center;
}

.book {
  width: 200px;
  height: max-content;
  padding: 10px;
  margin: 10px;
  background-color: #f0f0f0;
  text-align: center;
}

.book img {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

.book h3{
    margin: 0;
    text-align: left;
    color: rgb(195, 8, 161);
}

.book .pages {
  color: rgba(0, 0, 0, 0.30);
  text-align: left;
}

.book p {
    margin: 4px 0;
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
}
    
.book a {
    display: block;
    background-color: #dd0909;
    color: rgb(230, 233, 232);
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.book a:hover{
  transform: scale(1.02);
}
    

/* ------- Intro  ----------*/

.intro {
  margin-top: 4rem;
  min-height: 40vh;
  background-color: beige;
  padding: 4rem 0;
}

.intro-wrapper{
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.intro-wrapper .intro-text{
  flex: 1;
  font-size: 1.3em;
}

.intro-wrapper .intro-image{
  flex: 1;
  height: 40vh;
}


/* --------  books ----------*/

.books{
  margin-top: 4rem;
}


/* --------  Footer ---------*/

footer {
  margin-top: 3rem;
  padding: 5em 0 ;
  justify-content: center;
  text-align: center;
  display: block;
  min-height: 22vh;
}

footer .footer-wrapper{
  gap: 4em;
  justify-content: center;
  text-align: center;
  margin-bottom: 4em;
}

footer .footer-wrapper ul{
  height: 100px;
  text-align: left;
  padding: 0 2em;
}

footer .footer-wrapper ul li:not(.head){
  font-size: var(--font-smaller);
  padding: 2px 0;
}

footer .footer-wrapper ul li:not(.head):hover {
  color: var(--secondary-dark-color);
  text-decoration: underline;
  transform: translateX(1em);
  transition: all .2s ;
}

footer .footer-wrapper ul.icons li {
  align-items: center;
}

footer .footer-wrapper ul.icons i {
  padding: 0 2px;
}

footer .copyright {
  font-size: var(--font-small);
  margin-top: 5em;
}

footer .copyright i {
  color: var(--secondary-dark-color);
}
    

  
/* 
* MEDIA QUERIES
*/

/* You need to separte thr media queries from the the normal styling.
   A new css file could be created for it if you will get confused or the code is too long for you.
   Also there is no need to seperate the styling like bookstore.css and  the rest. it can all be in the same file.
*/

 @media(max-width:1024px){
  body {font-size: 14px;}
  

}
@media(max-width:768px){
  body{font-size: 12px;}
}
