
    
    h3{
        text-align: center;
        color: -webkit-linear-gradient(blue);
    }
    footer{
        color: #000 !important;
    background:-webkit-linear-gradient(rgb(149, 86, 194) 75%)}
    
    footer img{
        width: 10%;
        height: 10%;
    }
 